#tab-img{
    max-width: 172px !important;
}
#porsche-1{
    max-width: 956px !important; 

    width: 100%;
}
#porsche-2{
     max-width: 956px !important; 

    width: 100%;
}
#porsche-3{
     max-width: 956px !important; 

    width: 100%;
}