.hero-vidjet-button1{
    width: 79.22000122070312;
height: 37;
border-radius: 8px;
padding-top: 8px;
padding-right: 24px;
padding-bottom: 8px;
padding-left: 24px;
angle: 0 deg;
opacity: 1;
background-color: #C1F432;

}
.hero-vidjet-button2{
    width: 74.41999816894531;
height: 37;
border-radius: 8px;
padding-top: 8px;
padding-right: 24px;
padding-bottom: 8px;
padding-left: 24px;
angle: 0 deg;
opacity: 1;
color: #C4C9AE;
}
#vidjet-button{
    width: 197.5px;
height: 52px;
border-radius: 12px;
gap: 7.99px;
angle: 0 deg;
opacity: 1;

}
#hero-vidjet{
    backdrop-filter: blur(16px);
    margin-top: -160px;
    padding: 16px;
    border-radius: 16px;
    padding-bottom: 72px;
}